#container {
  color: white;
  background-image: url('https://farm5.staticflickr.com/4596/27141050699_a29e570228_k.jpg');
  background-size: cover;
  height: 300px;
  width: 300px;
}

#bg {
  height: 100%;
  width: 100%;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

//Text
#content {
  color: transparent;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

#container:hover {
  #bg {
    background-color: rgba(0, 0, 0, 0.7);
  }
  #content {
    color: white
  }

}

