// add rounded border around the buttons
a {
  border-radius: 10px;
}

.nav-link {
  color: black;
}

.view {
  background-image: url("https://farm9.staticflickr.com/8502/28564464925_0a79e64a28_k.jpg")no-repeat center center;
  background-size: cover;
}
.navbar {
  background-color: transparent;
}
.top-nav-collapse {
  background-color: #4285F4;
}
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #4285F4;
  }
}