.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;

  .page-footer {
    padding: 5px 0px;
    margin:  0px;
  }

  .page-footer {
    background-color: rgba(0, 0, 0, 0.15);
  }

  .footer-copyright {
    font-size: 0.75em;
    color: rgba(255, 255, 255, 0.25);
  }
}
