<nav>
  <div class="nav-links">
    <a class="nav-link" routerLink="/" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }" data-qa="qa-home-link">
      <fa-icon [icon]="icons.home" />
      <span class="nav-link__label">Home</span>
    </a>
    <a class="nav-link" routerLink="/resume" routerLinkActive="is-active" data-qa="qa-resume-link">
      <fa-icon [icon]="icons.resume" />
      <span class="nav-link__label">Resume</span>
    </a>
    <a class="nav-link" routerLink="/photography" routerLinkActive="is-active" data-qa="qa-photography-link">
      <fa-icon [icon]="icons.photography" />
      <span class="nav-link__label">Photography</span>
    </a>
    <a class="nav-link" routerLink="/converter" routerLinkActive="is-active" data-qa="qa-converter-link">
      <fa-icon [icon]="icons.btcCalculator" />
      <span class="nav-link__label">BTC Calculator</span>
    </a>
    <a class="nav-link" routerLink="/utils" routerLinkActive="is-active" data-qa="qa-table-link">
      <fa-icon [icon]="icons.copyCatMocking" />
      <span class="nav-link__label">Copycat</span>
    </a>
  </div>
  <div class="social-links">
    <a class="social-link" href="https://www.twitter.com/KENIII26" target="_blank" rel="noreferrer noopener" data-qa="qa-twitter-link">
      <fa-icon [icon]="icons.twitter" />
    </a>
    <a class="social-link" href="https://www.github.com/kennylai360" target="_blank" rel="noreferrer noopener" data-qa="qa-github-link">
      <fa-icon [icon]="icons.github" />
    </a>
  </div>
</nav>
