:host {
  nav {
    display: flex;
    margin: 10px;
    justify-content: space-between;

    a {
      margin: 0 5px;
    }
  }

  .nav-links {
    display: flex;
    flex-direction: row;

    .fa {
      padding-right: 5px;
    }
  }

  .social-media {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  @media (max-width: 480px) {
    .nav-links__text__hide-for-mobile {
      display: none;
    }

    nav {
      a {
        margin: 0 15px;
      }
    }
  }

  @media (max-width: 320px) {
    nav {
      a {
        margin: 0 10px;
      }
    }
  }
}
