<nav>
  <div class="nav-links">
    <a class="nav-links__link__margin" routerLink="/"><i class="fa fa-home"></i><span class="nav-links__text__hide-for-mobile">Home</span></a>
    <a class="nav-links__link__margin" routerLink="/profile"><i class="fa fa-user"></i><span class="nav-links__text__hide-for-mobile">Profile</span></a>
    <a class="nav-links__link__margin" routerLink="/photography"><i class="fa fa-camera"></i><span class="nav-links__text__hide-for-mobile">Photography</span></a>
  </div>
  <div class="social-media">
    <a class="social-media__link__font-size social-media__link__margin" href="https://www.twitter.com/KENIII26" target="_blank" rel="noreferrer noopener"><i class="fa fa-twitter"></i></a>
    <a class="social-media__link__font-size social-media__link__margin" href="https://www.instagram.com/kennykinkeelai" target="_blank" rel="noreferrer noopener"><i class="fa fa-instagram"></i></a>
    <a class="social-media__link__font-size social-media__link__margin" href="https://www.twitch.tv/KENIII26" target="_blank" rel="noreferrer noopener"><i class="fa fa-twitch"></i></a>
  </div>
</nav>
