<nav>
  <div class="nav-links">
    <a class="nav-links__link__margin" data-qa="qa-home-link" routerLink="/"
      ><fa-icon [icon]="icons.home"></fa-icon
      ><span class="nav-links__text__hide-for-mobile">Home</span></a
    >
    <a
      class="nav-links__link__margin"
      data-qa="qa-resume-link"
      routerLink="/resume"
      ><fa-icon [icon]="icons.resume" /><span
        class="nav-links__text__hide-for-mobile"
        >Resume</span
      ></a
    >
    <a
      class="nav-links__link__margin"
      data-qa="qa-photography-link"
      routerLink="/photography"
      ><fa-icon [icon]="icons.photography" /><span
        class="nav-links__text__hide-for-mobile"
        >Photography</span
      ></a
    >
    <a
      class="nav-links__link__margin"
      data-qa="qa-converter-link"
      routerLink="/converter"
      ><fa-icon [icon]="icons.btcCalculator" /><span
        class="nav-links__text__hide-for-mobile"
        >BTC Calculator</span
      ></a
    >
    @if (false) {
    <a
      class="nav-links__link__margin"
      data-qa="qa-table-link"
      routerLink="/table"
      ><fa-icon [icon]="icons.btcCalculator" /><span
        class="nav-links__text__hide-for-mobile"
        >Table</span
      ></a
    >
    }
  </div>
  <div class="social-media">
    <a
      class="social-media__link__font-size social-media__link__margin"
      data-qa="qa-twitter-link"
      href="https://www.twitter.com/KENIII26"
      target="_blank"
      rel="noreferrer noopener"
      ><fa-icon [icon]="icons.twitter"
    /></a>
    <a
      class="social-media__link__font-size social-media__link__margin"
      data-qa="qa-github-link"
      href="https://www.github.com/kennylai360"
      target="_blank"
      rel="noreferrer noopener"
      ><fa-icon [icon]="icons.github"
    /></a>
  </div>
</nav>
