<h4>Shopping list</h4>

<form [formGroup]="pocForm">
    <input type="text"
           formControlName="name"
           placeholder="Name of item"
    />

    <input type="number"
           formControlName="quantity"
           placeholder="Quantity"
    />
    <button class="btn-primary" (click)="addItem()" [disabled]="pocForm.invalid">Add Item</button>
</form>


<table class="table">
    <thead>
    <tr>
        <th scope="col">Item</th>
        <th scope="col">Amount</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody *ngFor="let item123 of tableData">
    <tr>
        <td>{{item123.itemName}}</td>
        <td>{{item123.itemAmount}}</td>
        <td><button (click)="deleteItem(item123.itemName)" class="btn-danger">Delete</button></td>
    </tr>
    </tbody>
</table>