:host {
  div, td, th, h4 {
    color: white;
  }

  h4, form {
    padding-bottom: 20px;
  }
  
  button {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;

  }
}