<div class="profile_content animate__animated animate__fadeInDown">
  <div class="personal_info">
    <div class="personal_info__text">
      <h2>Kenny Lai</h2>
      <span class="personal_info__professional_role">
        <i class="fa fa-briefcase" aria-hidden="true"></i>
        <h5>Frontend Developer</h5>
      </span>
      <span class="personal_info__location"
        ><i class="fa fa-globe" aria-hidden="true"></i>
        <h5>Basingstoke, United Kingdom</h5>
      </span>
    </div>
    <div class="personal_info__image">
      <img
        class="profile_image"
        ngSrc="https://d1gzhm7v07i91z.cloudfront.net/Selfie1.jpg"
        height="200"
        width="200"
      />
    </div>
  </div>

  <hr />
  <h4>About</h4>
  <p>
    A reliable, optimistic, hardworking and easy-going Frontend developer that
    is keen on technology and willing to put effort into learning and mastering
    what is needed of him. Easily adaptable to different environments and can
    work under pressure with tight deadlines.
  </p>

  <hr />

  <div class="app_profile-content">
    <app-profile-content [fileContent]="profileContent"></app-profile-content>
  </div>
</div>
