<div class="jumbotron animated fadeInDown">
  <div class="row profile-row">

    <div class="col-sm-6">
      <h1 class="h1-responsive">Kenny Kin Kee Lai</h1>
      <ul>
        <li>
          <h5><strong>Age:</strong> {{currentAge}} </h5>
        </li>
        <li>
          <h5><strong>Date of Birth:</strong> {{dateOfBirthDisplay}}</h5>
        </li>
        <li>
          <h5><strong>Birth place:</strong> Hong Kong</h5>
        </li>
        <li>
          <h5><strong>Profession:</strong> Frontend developer</h5>
        </li>
        <li>
          <h5><strong>Interests:</strong> Photography, Gaming, Anime, Japanese language</h5>
        </li>
        <li>
          <h5>Currently located in England, UK</h5>
        </li>
      </ul>
    </div>

    <div class="col-sm-6">
      <img class="img-fluid pro-pic animated fadeInDown" align="right" src="https://farm5.staticflickr.com/4540/38013937925_2c4304496e_n.jpg">
    </div>

  </div>

  <h5>From developing web applications using frontend technologies, to creating images with friends and cosplayers all around the world.</h5>
  <h5>If we ever bump into each other please do say Hi to me! I love to meet new people every now and then! :)</h5>
  <hr class="my-5">
  <p class="profile-p">I started to explore the world of DSLR cameras in July 2015 as a side-hobby, ever since then I have been taking every opportunity I can to take pictures that I find interesting/aesthetic and learning
    from friends and cosplayers. For the last few years I have been attending conventions mainly in the UK such as London MCM Comic Con and Hyper Japan.
  </p>
  <p class="profile-p">In regards to my profession, I have been working as a software developer since graduating from Uni of Surrey in Bsc Computer Science (July 2016) focusing on the frontend-aspect of web applications.</p>
</div>
