:host {
  @media (min-width: 1280px) {
    .jumbotron {
      margin-left: 10%;
      margin-right: 10%;
    }
  }

  .h1-responsive {
    color: black;
  }

  .profile-row {
    padding-bottom: 20px;
  }

  .pro-pic {
    border: 1px black solid;
    max-height: 400px;
  }

  p {
    color: black;
  }
}
