:host {
  --sub-text-color: rgb(255, 255, 255, 0.8);

  p {
    color: var(--sub-text-color);
  }
  .profile_content {
    margin-top: 10px;

    margin-left: 15%;
    margin-right: 15%;
  }

  .personal_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .personal_info__location,
  .personal_info__professional_role {
    display: flex;
    flex-direction: row;
    align-items: center;
    i {
      padding-right: 5px;
    }
    h5 {
      margin-bottom: 0;
    }
  }

  .education {
    display: flex;
    flex-direction: column;
  }

  .profile_image {
    border: solid 1px black;
  }

  @media (min-width: 1024px) {
    .profile_content {
      margin-left: 15%;
      margin-right: 15%;
    }
  }

  @media (min-width: 480px) {
    .profile_content {
      margin-left: 15%;
      margin-right: 15%;
    }
  }
}
