p {
  color: white;
}

.album-header {
  color: white
}

.jumbotron {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('https://farm9.staticflickr.com/8502/28564464925_0a79e64a28_k.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
