<div class="album-page animate__animated animate__fadeIn">
  <nav class="breadcrumb" aria-label="breadcrumb">
    <a class="breadcrumb__link" routerLink="/photography">Photography</a>
    <span class="breadcrumb__separator">/</span>
    <span class="breadcrumb__current">{{ (albumData | async)?.albumTitle }}</span>
  </nav>

  <app-gallery-album-jumbotron
    [albumTitle]="(albumData | async).albumTitle"
    [albumSubtitle]="(albumData | async).albumSubtitle"
    [albumCoverPicture]="(albumData | async).imgUrl"
    [socialMediaLinks]="(albumData | async).socialMediaLinks"
  ></app-gallery-album-jumbotron>

  <div class="photo-grid">
    @for (item of (albumData | async).albumImages; track item) {
      <div class="photo-grid__item">
        <app-gallery-album-cover
          (click)="openModal(item.imageId, item.imgUrl, item.horizontalOrient)"
          (hasImageLoadedEmitter)="allowOpenModal($event)"
          [imgUrl]="item.imgUrl"
          [translateX]="item.translateX"
          [translateY]="item.translateY"
        ></app-gallery-album-cover>
      </div>
    }
  </div>

  <app-overlay-container
    [albumSet]="(albumData | async).albumImages"
  ></app-overlay-container>
</div>
