<div class="previous-page-button"><a routerLink="../"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Return to albums</a></div>
<hr class="hr-light mt-4 animated fadeInDown">
<app-gallery-album-jumbotron
  [albumTitle]="(albumData | async).albumTitle"
  [albumSubtitle]="(albumData | async).albumSubtitle"
  [albumCoverPicture]="(albumData | async).imgUrl">
</app-gallery-album-jumbotron>

<hr class="hr-light mt-4 animated fadeInDown">
<pagination-controls (pageChange)="p = $event"
                     autoHide="true"
></pagination-controls>

<div class="centerise-album-imgs">
  <a *ngFor="let item of ((albumData | async).albumImages) | paginate: { itemsPerPage: 20, currentPage: p }">
    <app-gallery-album-cover
      (click)="openModal(item.imageId, item.imgUrl, item.horizontalOrient)"
      [imgUrl]="item.imgUrl"
      [translateX]="item.translateX"
      [translateY]="item.translateY">
    </app-gallery-album-cover>
  </a>
</div>

<app-overlay-container
  [selectedImageId]="selectedImageId"
  [albumSet]="(albumData | async).albumImages">
</app-overlay-container>
