:host {
  .gallery-album__return-link {
    margin-left: 20px;
  }

  .return-to-album-icon {
    padding-right: 5px;
  }

  a {
    -moz-transition: color 0.5s;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    font-size: 16px;

    &:hover {
      color: rgba(255, 255, 255, 0.5);
      -moz-transition: color 0.5s;
      -webkit-transition: color 0.5s;
      transition: color 0.5s;
    }
  }

  .jumb-content {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  app-gallery-album-cover {
    display: inline-block;
  }

  .gallery-album__image__center {
    text-align: center;
  }

  ::ng-deep .ngx-pagination {
    text-align: center;

    & span {
      color: white;
    }

    & .pagination-next a {
      color: white;
      -moz-transition: color 0.5s;
      -webkit-transition: color 0.5s;
      transition: color 0.5s;

      &:hover {
        color: black;
        border-radius: 900px;
        -moz-transition: color 0.5s;
        -webkit-transition: color 0.5s;
        transition: color 0.5s;
      }
    }

    & .pagination-previous a {
      color: white;
      -moz-transition: color 0.5s;
      -webkit-transition: color 0.5s;
      transition: color 0.5s;

      &:hover {
        color: black;
        border-radius: 900px;
        -moz-transition: color 0.5s;
        -webkit-transition: color 0.5s;
        transition: color 0.5s;
      }
    }

    & .disabled {
      cursor: not-allowed;
    }

    & a {
      -moz-transition: color 0.5s;
      -webkit-transition: color 0.5s;
      transition: color 0.5s;
      &:hover span {
        color: black;
        -moz-transition: color 0.5s;
        -webkit-transition: color 0.5s;
        transition: color 0.5s;
      }
    }

    & .current {
      background: grey;
    }
  } //end ngx-pagination
} //end :host
