<div class="imageContainer">
  <div class="gradient-colour">
    <img class="album-jumbotron noselect" [lazyLoad]="albumCoverPicture">
  </div>
  <div class="jumb-text">
    <h1 class="animated fadeInDown noselect">{{albumTitle}}
      <a *ngIf="socialMediaLinks && socialMediaLinks.instagram" href="{{socialMediaLinks.instagram}}">
        <i class="fa fa-instagram"></i>
      </a>
      <a *ngIf="socialMediaLinks && socialMediaLinks.facebook" href="{{socialMediaLinks.facebook}}">
        <i class="fa fa-facebook-square"></i>
      </a>
      <a *ngIf="socialMediaLinks && socialMediaLinks.twitter" href="{{socialMediaLinks.twitter}}">
        <i class="fa fa-twitter-square"></i>
      </a>
      <a *ngIf="socialMediaLinks && socialMediaLinks.weibo" href="{{socialMediaLinks.weibo}}">
        <i class="fa fa-weibo"></i>
      </a>
     </h1>

    <h5 class="animated fadeInDown noselect">{{albumSubtitle}}</h5>

  </div>
</div>
