.show-overlay-background {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  opacity: 1;
  z-index: 1000001;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

img {
  pointer-events: none;
}

.modal-image {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -webkit-transform: translate(-50%, -50%); /* Safari */
  transform: translate(-50%, -50%);
  &.horizontal-image {
    max-width: 1440px;
    width: 100%;
    height: auto;
  }
  &.vertical-image {
    width: auto;
    height: 100%;
  }
}

.hide-overlay-background {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.noScroll {
  overflow: hidden;
}

.modal-close {
  z-index: 100;
  position: absolute;
  right: 0;
  color: white;
  opacity: 0.7;
  font-size: 2.5em;
  margin: 40px 50px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  &:hover {
    cursor: pointer;
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.modal-arrows {
  z-index: 100;
  color: white;
  opacity: 0.4;
  font-size: 2.5em;
  margin: 0 50px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  &:hover {
    cursor: pointer;
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  &.left-arrow {
    position: absolute;
    left:0;
    display: inline-block;
    -ms-transform: translate(0, 45vh); /* IE 9 */
    -webkit-transform: translate(0, 45vh); /* Safari */
    transform: translate(0, 45vh);
  }
  &.right-arrow {
    position: absolute;
    right: 0;
    display: inline-block;
    -ms-transform: translate(0, 45vh); /* IE 9 */
    -webkit-transform: translate(0, 45vh); /* Safari */
    transform: translate(0, 45vh);
  }
}


