
<div>
  <div class="animated fadeInDown">
  <pagination-controls  (pageChange)="pageNumber = $event"
                        autoHide="true">
  </pagination-controls>
  </div>
  <hr class="hr-light mt-4 animated fadeInDown" data-wow-delay="1.4s">
    <app-gallery-cover *ngFor="let item of (coverContent | async) | paginate: { itemsPerPage: 30, currentPage: pageNumber }"
            [imgUrl]="item.imgUrl"
            [coverTitle]="item.coverTitle"
            [translateX]="item.translateX"
            [translateY]="item.translateY">
    </app-gallery-cover>
  <hr class="hr-light mt-4 animated fadeInDown" data-wow-delay="1.4s">
  <div class="animated fadeInUp">
    <pagination-controls  (pageChange)="pageNumber = $event"
                          autoHide="true">
    </pagination-controls>
  </div>
</div>

q
