<app-gallery-cover
        [imgUrl]="'https://farm5.staticflickr.com/4535/24056102767_94eeae91ee_k.jpg'"
        [shiftDown]="'50px'"
        [shiftRight]="'260px'"
></app-gallery-cover>
<app-gallery-cover
        [imgUrl]="'https://farm5.staticflickr.com/4535/24056102767_94eeae91ee_k.jpg'"
        [shiftDown]="'50px'"
        [shiftRight]="'260px'"
></app-gallery-cover>
<app-gallery-cover
        [imgUrl]="'https://farm5.staticflickr.com/4535/24056102767_94eeae91ee_k.jpg'"
        [shiftDown]="'50px'"
        [shiftRight]="'260px'"
></app-gallery-cover>

