<div>
    <app-gallery-cover *ngFor="let item of (coverContent | async)"
            [imgUrl]="item.imgUrl"
            [coverTitle]="item.coverTitle"
            [translateX]="item.translateX"
            [translateY]="item.translateY">
    </app-gallery-cover>

    <!--<app-gallery-cover-->
            <!--[imgUrl]="'https://farm5.staticflickr.com/4596/27141050699_a29e570228_k.jpg'"-->
            <!--[coverTitle]="'Some random grill on london streets haha'"-->
            <!--[translateX]="'-22'"-->
            <!--[translateY]="'-13'">-->
    <!--</app-gallery-cover>-->

    <!--<app-gallery-cover-->
            <!--[imgUrl]="'https://farm5.staticflickr.com/4403/36295300451_0ec30c8cae_k.jpg'"-->
            <!--[coverTitle]="'Hot grill'"-->
            <!--[translateX]="'-35'"-->
            <!--[translateY]="'-12'">-->
    <!--</app-gallery-cover>-->

    <!--<app-gallery-cover-->
            <!--[imgUrl]="'https://farm5.staticflickr.com/4362/36035606000_90cea60154_k.jpg'"-->
            <!--[coverTitle]="'HyperJapan2017'"-->
            <!--[translateX]="'-50'"-->
            <!--[translateY]="'-25'">-->
    <!--</app-gallery-cover>-->

</div>

