@for (item of fileContent(); track $index) {
<h3>{{ item.section }}</h3>
<div *ngFor="let content of item.sectionContents">
  @if (content.header) {
  <div class="file_content__header__padding"></div>
  }
  <div class="profile_main">
    @if (content.header) {
    <h4>
      <strong>{{ content.header }}</strong>
    </h4>
    } @if (!content.header) {
    <h5>{{ '&nbsp; ' + content.roleTitle }}</h5>
    }
    <h4 class="year">{{ content.year }}</h4>
  </div>
  @if (content.roleTitle && content.header) {
  <h5>&nbsp; {{ content.roleTitle }}</h5>
  }

  <ul class="profile_details">
    <li *ngFor="let contentsItem of content.contents">
      {{ contentsItem }}
    </li>
  </ul>
</div>
<hr />
}
