<div class="image-alignment">
  <h2 class="album-text animated fadeInDown">Albums</h2>
  <hr class="hr-light mt-4 animated fadeInDown" data-wow-delay="1.4s">
  <a *ngFor="let item of (coverContent | async)">
    <app-gallery-album-cover
            [imgUrl]="item.imgUrl"
            [albumTitle]="item.albumTitle"
            [translateX]="item.translateX"
            [translateY]="item.translateY"
            [routerLink]="item.albumId">
    </app-gallery-album-cover>
  </a>
  <hr class="hr-light mt-4 animated fadeInDown" data-wow-delay="1.4s">
</div>
