<div>
  <div class="animated fadeInDown">
  <pagination-controls  (pageChange)="pageNumber = $event"
                        autoHide="true">
  </pagination-controls>
  </div>
  <hr class="hr-light mt-4 animated fadeInDown" data-wow-delay="1.4s">
  <a *ngFor="let item of (coverContent | async) | paginate: { itemsPerPage: 5, currentPage: pageNumber }">
    <app-gallery-album-cover
            [imgUrl]="item.imgUrl"
            [albumTitle]="item.albumTitle"
            [translateX]="item.translateX"
            [translateY]="item.translateY"
            [routerLink]="item.albumId">
    </app-gallery-album-cover>
  </a>
  <hr class="hr-light mt-4 animated fadeInDown" data-wow-delay="1.4s">
  <div class="animated fadeInUp">
    <pagination-controls  (pageChange)="pageNumber = $event"
                          autoHide="true">
    </pagination-controls>
  </div>
</div>
