.mat-drawer-container {
  background-color: transparent;
  height: 1080px;
}

.mat-drawer {
  background: rgba(73, 58, 15, 0.44);
}

.mat-toolbar {
  background:  transparent;
}

.toolbar-btn {
  padding: 0px;
}

.full-width-btn {
  width:  100%
}