.mat-drawer-container {
  background-color: transparent;
  height: 1000px;
}

.mat-drawer {
  background: rgba(0, 0, 0, 0.56);
}

.mat-toolbar {
  background:  transparent;
}

.toolbar-btn {
  padding: 0px;
}

.full-width-btn {
  width:  100%
}