<!--<mat-sidenav-container>-->
    <!--<mat-sidenav #sidenav mode="side" [(opened)]="opened">-->
        <!--<h3>-->
            <!--<button mat-button class="full-width-btn" (click)="sidenav.toggle()">-->
                <!--<mat-icon>store</mat-icon>-->
                <!--Home-->
            <!--</button>-->
        <!--</h3>-->
        <!--<h3>-->
            <!--<button mat-button class="full-width-btn" (click)="sidenav.toggle()">-->
                <!--<mat-icon>collections</mat-icon>-->
                <!--Galleries-->
            <!--</button>-->
        <!--</h3>-->
        <!--<h3>-->
            <!--<button mat-button class="full-width-btn" (click)="sidenav.toggle()">-->
                <!--<mat-icon>store</mat-icon>-->
                <!--Text trial number 2222-->
            <!--</button>-->
        <!--</h3>-->
        <!--<h3>-->
            <!--<button mat-button class="full-width-btn" (click)="sidenav.toggle()">-->
                <!--<mat-icon>collections</mat-icon>-->
                <!--wtf is that long ass text-->
            <!--</button>-->
        <!--</h3>-->
        <!--<h3>-->
            <!--<button mat-button class="full-width-btn" (click)="sidenav.toggle()">-->
                <!--<mat-icon>store</mat-icon>-->
                <!--testing text 123444444-->
            <!--</button>-->
        <!--</h3>-->
        <!--<h3>-->
            <!--<button mat-button class="full-width-btn"(click)="sidenav.toggle()">-->
                <!--<mat-icon>collections</mat-icon>-->
                <!--shit fam-->
            <!--</button>-->
        <!--</h3>-->

    <!--</mat-sidenav>-->

    <!--<mat-sidenav-content>-->
        <!--<mat-toolbar>-->
            <!--<button mat-button (click)="sidenav.toggle()" class="toolbar-btn">-->
                <!--<mat-icon>dehaze</mat-icon>-->
            <!--</button>-->
        <!--</mat-toolbar>-->


        <!--&lt;!&ndash;<mat-toolbar>&ndash;&gt;-->
        <!--&lt;!&ndash;<button mat-icon-button [matMenuTriggerFor]="menu">&ndash;&gt;-->
        <!--&lt;!&ndash;<mat-icon>more_vert</mat-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--&lt;!&ndash;</mat-toolbar>&ndash;&gt;-->

        <!--&lt;!&ndash;<mat-menu #menu="matMenu">&ndash;&gt;-->
        <!--&lt;!&ndash;<button mat-menu-item>&ndash;&gt;-->
        <!--&lt;!&ndash;<mat-icon>dialpad</mat-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;<span>Redial</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<button mat-menu-item disabled>&ndash;&gt;-->
        <!--&lt;!&ndash;<mat-icon>voicemail</mat-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;<span>Check voicemail</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<button mat-menu-item>&ndash;&gt;-->
        <!--&lt;!&ndash;<mat-icon>notifications_off</mat-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;<span>Disable alerts</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--&lt;!&ndash;</mat-menu>&ndash;&gt;-->

        <!--&lt;!&ndash;<div style="text-align:center; padding-left: 5%; padding-right: 5%">&ndash;&gt;-->
            <!--&lt;!&ndash;<pk-input-search></pk-input-search>&ndash;&gt;-->
            <!--&lt;!&ndash;<h3>something something dark side</h3>&ndash;&gt;-->
            <!--&lt;!&ndash;<p>counter value: {{(counterValue$ | async)}}</p>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--</mat-sidenav-content>-->
<!--</mat-sidenav-container>-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>




