img.album-cover {
  opacity: 0;
  display: block;
  height: 200%;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}

img.album-cover.ng-lazyloaded {
  opacity: 1;
}

.gallery-container {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}


.text {
  width: 90%;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

