<div class="gallery-container" (mouseenter)="increaseScalingValue()" (mouseleave)="revertScalingValue()">
  <div
    [ngClass]="{'spinner-border text-dark overlay-spinner': !imageHasLoaded}">
  </div>
  <img class="album-cover noselect"
       [ngStyle]="{'transform': 'translate(' +translateX+ '%,' +translateY+ '%) scale(' +scaleValue+ ')'}"
       [lazyLoad]="imgUrl"
       (load)="imageHasBeenLoaded()"
  >
  <div class="overlay"
       [style.opacity]="opacityValue">
    <div class="text noselect">{{albumTitle}}</div>
  </div>
</div>
