<div class="jarallax" data-jarallax='{"speed": 0.2}'>
  <div class="full-bg-img">
      <div class="row pt-5 mt-3">
        <div class="col-md-12">
          <div class="text-center">
            <h1 class="home-h1 h1-reponsive white-text font-up font-bold mb-3 animated fadeInDown" data-wow-delay="1.3s"><strong>Kenny Kin Kee Lai</strong></h1>
            <hr class="hr-light mt-4 animated fadeInDown" data-wow-delay="1.4s">
            <h5 class="font-up mb-5 white-text animated fadeInDown" data-wow-delay="1.4s"><strong>software developer & photographer</strong></h5>
            <a class="btn btn-outline-white animated fadeInDown waves-light" data-wow-delay="1.4s" mdbRippleRadius routerLink="/photography">Photography</a>
            <a class="btn btn-outline-white animated fadeInDown waves-light" data-wow-delay="1.4s" mdbRippleRadius href="https://www.github.com/kennylai360">github</a>
            <a class="btn btn-outline-white animated fadeInDown waves-light" data-wow-delay="1.4s" mdbRippleRadius routerLink="/profile">Profile</a>
          </div>
        </div>
      </div>
  </div>
</div>
