.white-h1, .white-h5, .home-a {
  color: white;
}

.white-h5 {
  padding-bottom: 20px;
}

a.home-a:hover {
  color: white;
  box-shadow:0 0 0 0.15rem rgba(255,255,255,0.5)
};

.home-a {
  margin: 0px 10px;
}

hr {
  background-color: white
}

.title-size-correction {
  width: 50% !important;
  transform:  translate(50%,0%)
}
