<div class="title-size-correction">
  <div class="row pt-5 mt-3">
    <div class="col-md-12">
      <div class="text-center">
        <h1 class="animated fadeInDown white-h1"><strong>Kenny Kin Kee
          Lai</strong></h1>
        <hr class="animated fadeInDown">
        <h5 class="animated fadeInDown white-h5"><strong>Software developer & Photographer</strong></h5>
        <a class="btn animated fadeInDown home-a" routerLink="/photography">Photography</a>
        <a class="btn animated fadeInDown home-a" href="https://www.github.com/kennylai360">Github</a>
        <a class="btn animated fadeInDown home-a" routerLink="/profile">Profile</a>
      </div>
    </div>
  </div>
</div>
