:host {

  body {
    margin: 0;
  }
  h1,
  h5 {
    font-weight: bold;
    text-align: center;
    width: 40%;
  }

  a {
    font-weight: bold;
    cursor: pointer;
    margin: 0 30px;
  }

  hr {
    width: 40%;
  }

  .home__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }

  .home__links {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }

  @media (max-height: 745px) {
    .home__info {
      height: 85vh;
    }
  }

  @media (max-width: 1600px) {
    hr,
    h5 {
      width: 50%;
    }
  }

  @media (max-width: 834px) {
    hr,
    h5 {
      width: 75%;
    }
  }

  @media (max-width: 480px) {
    hr,
    h5 {
      width: 85%;
    }
  }
}
