:host {
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
  }

  .clickable-links {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }

  h1,
  h5 {
    color: white;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 0 30px;
    &:hover {
      color: rgba(255, 255, 255, 0.5);
      -webkit-transition: color 0.5s ease;
      -moz-transition: color 0.5s ease;
      -ms-transition: color 0.5s ease;
      -o-transition: color 0.5s ease;
      transition: color 0.5s ease;
    }
  }

  hr {
    width: 40%;
  }

  @media (max-width: 1600px) {
    hr {
      width: 50%;
    }
  }

  @media (max-width: 834px) {
    hr {
      width: 75%;
    }
  }

  @media (max-width: 480px) {
    hr {
      width: 85%;
    }
  }
}
