<div class="row pt-5 mt-3">
    <div class="col-md-12">
        <div class="text-center">
            <h1 class="animate__animated animate__fadeInDown white-h1"><strong>Kenny Kin Kee
                Lai</strong></h1>
            <hr class="animate__animated animate__fadeInDown">
            <h5 class="animate__animated animate__fadeInDown white-h5"><strong>Software developer & Photographer</strong></h5>
            <hr class="animate__animated animate__fadeInDown">
            <a class="btn animate__animated animate__fadeInDown home-a" routerLink="/profile">Profile</a>
            <a class="btn animate__animated animate__fadeInDown home-a" routerLink="/photography">Photography</a>
            <a class="btn animate__animated animate__fadeInDown home-a" href="https://www.github.com/kennylai360">Github</a>
        </div>
    </div>
</div>
