$header-img: 'https://farm9.staticflickr.com/8502/28564464925_0a79e64a28_k.jpg';
$positioning: 40% 30%;

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url($header-img);
  background-position: $positioning;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  //width: 100%;
  position: relative;
  margin: 0;
  padding-bottom: 50px;
  min-height: 100%;
}
