$header-img: 'https://aws-website-eu-kennykinkeelai-yybos-photography.s3.eu-west-2.amazonaws.com/BGP/BGP.jpg';
$positioning: 40% 30%;

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  color: white;
  box-sizing: inherit;
}

hr {
  background-color: white;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  font-family: 'Nunito', Source Sans Pro, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url($header-img);
  background-position: $positioning;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
