<div class="container flex-center">
    <div class="row pt-5 mt-3">
        <div class="col-md-12 mb-3">
            <div class="intro-info-content text-center">

                <h1 class="white-text display-3 mb-5 wow fadeInDownBig" data-wow-delay="0.5s">KENNY <a
                        class="indigo-text font-bold">LAI</a></h1>
                <h5 class="white-text font-up mb-5 mt-1 font-bold wow fadeInDownBig" data-wow-delay="0.3s">Frontend
                    developer & Photographer</h5>
                <a class="btn indigo lighten-2 btn-lg animated fadeInDownBig waves-light" mdbRippleRadius routerLink="/galleries">Portfolio</a>
                <a class="btn indigo lighten-1 btn-lg animated fadeInDownBig waves-light" mdbRippleRadius href="https://github.com/kennylai360">Github</a>
                <a class="btn indigo btn-lg animated fadeInDownBig waves-light" mdbRippleRadius>Profile</a>

            </div>
        </div>
    </div>
</div>
