<div class="container flex-center">
    <div class="row pt-5 mt-3">
        <div class="col-md-12 mb-3">
            <div class="intro-info-content text-center">

                <h1 class="white-text display-3 mb-5 wow fadeInDownBig" data-wow-delay="0.5s">KENNY <a
                        class="indigo-text font-bold">LAI</a></h1>
                <h5 class="white-text font-up mb-5 mt-1 font-bold wow fadeInDownBig" data-wow-delay="0.3s">Frontend
                    developer & Photographer</h5>
                <a class="btn btn-light-blue btn-lg animated fadeInDownBig waves-light" mdbRippleRadius>portfolio</a>
                <a class="btn btn-indigo btn-lg animated fadeInDownBig waves-light" mdbRippleRadius>About
                    me</a>

            </div>
        </div>
    </div>
</div>
