:host {
  .not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
  }

  .four-oh-four {
    font-weight: 600;
    text-shadow: 0 0 4px #fff;
  }
}
